<a href="https://colab.research.google.com/github/OmarPhysics/Python_and_Data_Science/blob/main/Course_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Course 1 - Programming for Everybody

Sequential Steps

In [1]:
x = 2
print(x)
x = x + 2
print (x)

2
4

Conditional Steps

In [7]:
x = input("Enter a number between 0 and 30: ")
x = float(x)
if x < 10:
  print("Smaller")
if x > 20:
  print("Bigger")
print("Finish")

Enter a number between 0 and 30: 25
Bigger
Finish

Repeated Steps: Loops (repeated steps) have iteration variables that change each time through a loop.

In [9]:
n = 5
while n > 0:
  print(n)
  n = n - 1
print("Blastoff")

5
4
3
2
1
Blastoff

Constants: Fixed values such as numbers, letters, and strings, are called "constants" because their value does not change.

Variables: A variable is a named place in the memory where a programmer can store data and later retrieve the data using the variable "name"

In [22]:
print("Constants:")
print(123)
print(98.6)
print("Hello world")
print("\n")
print("Variables:") 
x = 12.2
print(x)
y = 14
print(y)
x = 100
print(x)
x = 3.9 * x * (1 - x)
print(x)

Constants:
123
98.6
Hello world


Variables:
12.2
14
100
-38610.0

Numeric Expressions

In [24]:
xx = 2
xx = xx + 2
print(xx)

yy = 440 * 12
print(yy)

zz = yy / 1000
print(zz)

jj = 23
kk = jj % 5
print(kk)

print(4 ** 3)

x = 1 + 2 ** 3 / 4 * 5
print(x)

4
5280
5.28
3
64
11.0

Type Matters: Python knows what "type" everything is

In [36]:
eee = "hello " + "there"
print(eee)
print(type(eee))

xx = 1
print(type(xx))

temp = 98.6
print(type(temp))

a = float(99) + 100
print(a)
print(type(a))

sval = "123"
ival = int(sval)
print(sval)
print(type(sval))
print(ival)
print(type(ival))

hello there
<class 'str'>
<class 'int'>
<class 'float'>
199.0
<class 'float'>
123
<class 'str'>
123
<class 'int'>

User Input

In [37]:
nam = input("Who are you?")
print("Welcome", nam)

Who are you?Omar
Welcome Omar

Comments in Python: Anything after a # is ignored by python

In [39]:
# Convert elevator floors
inp = input("Europe floor? ")
usf = int(inp) + 1
print("US floor", usf)

Europe floor?4
US floor 5

Comparison Operators

In [43]:
x = 5
if x == 5:
  print("Equals 5")
if x > 4:
  print("Greater than 4")
if x >= 5:
  print("Greater then or Equals 5")
if x < 6:
  print("Less than 6")
if x <= 5:
  print("Less than or Equal 5")
if x != 6:
  print("Not equal 6")

Equals 5
Greater than 4
Greater then or Equals 5
Less than 6
Less than or Equal 5
Not equal 6

One-Way Decisions

In [45]:
x = 5
if x == 5:
  print("It is 5")
# The next is ignored.  
if x == 6:
  print("It is 6")
print("Finish")

It is 5
Finish

Nested Decisions

In [48]:
x = 42
if x > 1:
  print("More than 1")
  if x < 100:
    print("Less than 100")
print("The number is:", x)

More than 1
Less than 100
The number is: 42

Two- Way Decisions with else

In [49]:
x = 4
if x > 2:
  print("Bigger")
else:
  print("Smaller")
print("All done")

Bigger
All done

Multi-way Decisions

In [53]:
x = 20
if x < 2:
  print("Small")
elif x < 10:
  print("Medium")
else:
  print("Large")
print("All done")   

# No else
y = 5
if y < 2:
  print("Small")
elif y < 10:
  print("Medium")
print("All done")

Large
All done
Medium
All done

The Try/except Structure

In [56]:
# When the first conversion fails - it just drops into the except: clause and the program continues.
astr = "Hello bob"
try:
  istr = int(astr)
except:
  istr = -1 
print("First", istr)   

# When the second conversion succeeds - it just skips the except: clause and the program continues.
astr = "123"
try:
  istr = int(astr)
except:
  istr = -1 
print("Second", istr)

First -1
Second 123