<a href="https://colab.research.google.com/github/OmarPhysics/Python_and_Data_Science/blob/main/01_Python_for_Everybody/01_Programming_for_Everybody/Course_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Course 1 - Programming for Everybody

Sequential Steps

In [1]:
x = 2
print(x)
x = x + 2
print (x)

2
4

Conditional Steps

In [2]:
x = input("Enter a number between 0 and 30: ")
x = float(x)
if x < 10:
  print("Smaller")
if x > 20:
  print("Bigger")
print("Finish")

Enter a number between 0 and 30: 5
Smaller
Finish

Repeated Steps: Loops (repeated steps) have iteration variables that change each time through a loop.

In [3]:
n = 5
while n > 0:
  print(n)
  n = n - 1
print("Blastoff")

5
4
3
2
1
Blastoff

Constants: Fixed values such as numbers, letters, and strings, are called "constants" because their value does not change.

Variables: A variable is a named place in the memory where a programmer can store data and later retrieve the data using the variable "name"

In [4]:
print("Constants:")
print(123)
print(98.6)
print("Hello world")
print("\n")
print("Variables:") 
x = 12.2
print(x)
y = 14
print(y)
x = 100
print(x)
x = 3.9 * x * (1 - x)
print(x)

Constants:
123
98.6
Hello world


Variables:
12.2
14
100
-38610.0

Numeric Expressions

In [5]:
xx = 2
xx = xx + 2
print(xx)

yy = 440 * 12
print(yy)

zz = yy / 1000
print(zz)

jj = 23
kk = jj % 5
print(kk)

print(4 ** 3)

x = 1 + 2 ** 3 / 4 * 5
print(x)

4
5280
5.28
3
64
11.0

Type Matters: Python knows what "type" everything is

In [6]:
eee = "hello " + "there"
print(eee)
print(type(eee))

xx = 1
print(type(xx))

temp = 98.6
print(type(temp))

a = float(99) + 100
print(a)
print(type(a))

sval = "123"
ival = int(sval)
print(sval)
print(type(sval))
print(ival)
print(type(ival))

hello there
<class 'str'>
<class 'int'>
<class 'float'>
199.0
<class 'float'>
123
<class 'str'>
123
<class 'int'>

User Input

In [7]:
nam = input("Who are you?")
print("Welcome", nam)

Who are you?Omar
Welcome Omar

Comments in Python: Anything after a # is ignored by python

In [8]:
# Convert elevator floors
inp = input("Europe floor? ")
usf = int(inp) + 1
print("US floor", usf)

Europe floor? 5
US floor 6

Comparison Operators

In [9]:
x = 5
if x == 5:
  print("Equals 5")
if x > 4:
  print("Greater than 4")
if x >= 5:
  print("Greater then or Equals 5")
if x < 6:
  print("Less than 6")
if x <= 5:
  print("Less than or Equal 5")
if x != 6:
  print("Not equal 6")

Equals 5
Greater than 4
Greater then or Equals 5
Less than 6
Less than or Equal 5
Not equal 6

One-Way Decisions

In [10]:
x = 5
if x == 5:
  print("It is 5")
# The next is ignored.  
if x == 6:
  print("It is 6")
print("Finish")

It is 5
Finish

Nested Decisions

In [11]:
x = 42
if x > 1:
  print("More than 1")
  if x < 100:
    print("Less than 100")
print("The number is:", x)

More than 1
Less than 100
The number is: 42

Two- Way Decisions with else

In [12]:
x = 4
if x > 2:
  print("Bigger")
else:
  print("Smaller")
print("All done")

Bigger
All done

Multi-way Decisions

In [13]:
x = 20
if x < 2:
  print("Small")
elif x < 10:
  print("Medium")
else:
  print("Large")
print("All done")   

# No else
y = 5
if y < 2:
  print("Small")
elif y < 10:
  print("Medium")
print("All done")

Large
All done
Medium
All done

The Try/except Structure

In [14]:
# When the first conversion fails - it just drops into the except: clause and the program continues.
astr = "Hello bob"
try:
  istr = int(astr)
except:
  istr = -1 
print("First", istr)   

# When the second conversion succeeds - it just skips the except: clause and the program continues.
astr = "123"
try:
  istr = int(astr)
except:
  istr = -1 
print("Second", istr)

First -1
Second 123

In [15]:
rawstr = input("Enter a number: ")
try:
  ival = int(rawstr)
except:
  ival = -1

if ival > 0:
  print("Nice work!")
else:
  print("Not a number")

Enter a number: 5
Nice work!

Functions

In [16]:
def thing():
  print("Hello")
  print("Fun")

thing()
print("zip")
thing()

Hello
Fun
zip
Hello
Fun

In [20]:
big = max("Hello world")
print(big)

tiny = min("Hello_world")
print(tiny)

w
H

In [21]:
x = 5
print("Hello")
def print_lyrics():
  print("Hi")
  print("Howdy")

print("Yo")
print_lyrics()
x = x + 2
print(x)

Hello
Yo
Hi
Howdy
7

Parameters

In [27]:
def greet(lang):
  if lang == "es":
    print("Hola")
  elif lang == "fr":
    print("Bonjour")
  else:
    print("Hello")   

greet("en")
greet("fr")
greet("es")

Hello
Bonjour
Hola

Return Values

In [28]:
def greet():
  return "Hello"

print(greet(), "Glenn")
print(greet(), "Sally")

Hello Glenn
Hello Sally

Multiple Parameters

In [29]:
def addtwo(a, b):
  added = a + b
  return added

x = addtwo(3, 5)
print(x)

8

Loops

In [31]:
while True:
  line = input("> ")
  if line == "done":
    break
  print(line)
print("Done!")

> Hola
Hola
> Hello
Hello
> done
Done!

In [32]:
while True:
  line = input("> ")
  if line[0] == "#":
    continue
  if line == "done":
    break
  print(line)
print("Done!")

> Hola
Hola
> Hey
Hey
> #
> f
f
> done
Done!

Definite Loops

In [33]:
for i in [5, 4, 3, 2, 1]:
  print(i)
print("Blastoff")

5
4
3
2
1
Blastoff

In [34]:
friends = ["Joseph", "Glenn", "Sally"]
for friend in friends:
  print("Happy New Year:", friend)
print("Done!")

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Done!

Finding the largest value

In [35]:
largest_so_far = -1
print("Before", largest_so_far)
for the_num in [9, 41, 12, 3, 74, 15]:
  if the_num > largest_so_far:
    largest_so_far = the_num
  print(largest_so_far, the_num)
print("After", largest_so_far)

Before -1
9 9
41 41
41 12
41 3
74 74
74 15
After 74

Counting in a Loop

In [37]:
zork = 0
print("Before", zork)
for thing in [9, 41, 12, 3, 74, 15]:
  zork = zork + 1
  print(zork, thing)
print("After", zork)

Before 0
1 9
2 41
3 12
4 3
5 74
6 15
After 6

Summing in a Loop

In [38]:
zork = 0
print("Before", zork)
for thing in [9, 41, 12, 3, 74, 15]:
  zork = zork + thing
  print(zork, thing)
print("After", zork)

Before 0
9 9
50 41
62 12
65 3
139 74
154 15
After 154

Finding the Average in a Loop

In [39]:
count = 0
sum = 0
print("Before", count, sum)
for value in [9, 41, 12, 3, 74, 15]:
  count = count + 1
  sum = sum + value
  print(count, sum, value)
print("After", count, sum, sum / count)

Before 0 0
1 9 9
2 50 41
3 62 12
4 65 3
5 139 74
6 154 15
After 6 154 25.666666666666668

Filtering in a Loop

In [40]:
print("Before")
for value in [9, 41, 12, 3, 74, 15]:
  if value > 20:
    print("Large number", value)
print("After")

Before
Large number 41
Large number 74
After

Search Using a Boolean Variable

In [44]:
found = False
print("Before", found)
for value in [9, 41, 12, 3, 74, 15]:
  if value == 3:
    found = True
  print(found, value) 
print("After", found)

Before False
False 9
False 41
False 12
True 3
True 74
True 15
After True

Finding the Smallest Value

In [48]:
smallest = None
print("Before None")
for value in [9, 41, 12, 3, 74, 15]:
  if smallest is None:
    smallest = value
  elif value < smallest:
    smallest = value
  print(smallest, value)
print("After", smallest)

Before None
9 9
9 41
9 12
3 3
3 74
3 15
After 3

The end